{% extends "cms/cms_base.html" %}
{% from "common/_macors.html" import static %}

{% block title %}
    评论管理
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ static('cms/css/cms_base.css') }}">
    <script src="{{ static('cms/js/comments.js') }}"></script>
{% endblock %}

{% block page_title %}
    {{ self.title() }}
{% endblock %}

{% block main_content %}
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>帖子标题</th>
            <th>评论时间</th>
            <th>评论内容</th>
            <th>评论者</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {% for comment in comments_mods %}
            <tr data-id="{{ comment.id }}" data-highlight="{{ 1 if comment.highlight else 0 }}" data-display="{{ 1 if comment.is_display == '1' else 0 }}">
                <td><a target="_blank"
                       href="{{ url_for("front.post_detail",post_id=comment.post_id) }}">{{ comment.post.title }}</a>
                </td>
                <td>{{ comment.create_time }}</td>
                <td>{{ comment.content|striptags }}</td>
                <td>{{ comment.author.username }}</td>
                <td>
                    {% if comment.highlight %}
                        <button class="btn btn-default btn-xs highlight-btn">取消置顶</button>
                    {% else %}
                        <button class="btn btn-default btn-xs highlight-btn">评论置顶</button>
                    {% endif %}
                    {% if comment.is_display == '1' %}
                        <button class="btn btn-danger btn-xs delete-comment-btn">删除</button>
                    {% else %}
                        <button class="btn btn-warning btn-xs delete-comment-btn">恢复</button>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {#分页显示#}
    {% include "common/cms_pages.html" %}

{% endblock %}